<!--[*  $Id: users_user_loginscreen.htm 24817 2008-11-05 14:35:13Z Guite $  *]-->

<form action="<!--[pnmodurl modname="Users" type="user" func="login"]-->" method="post">
<div id="ajaxloginbox">
<input type="hidden" name="url" value="<!--[$returnurl|pnvarprepfordisplay]-->" />
<input type="hidden" name="authid" value="<!--[insert name="generateauthkey" module="Users" ]-->" />
<table><!--[pnmodgetvar module='Users' name='loginviaoption' assign='loginviaoption']-->
<!--[if $loginviaoption eq 1]-->
  <tr>
    <td><label for="users_email">Email</label></td>
    <td><input id="users_email" type="text" name="email" size="20" maxlength="64" tabindex="1"/></td>
  </tr>
<!--[else]-->
  <tr>
    <td><label for="users_uname">Username</label></td>
    <td><input id="users_uname" type="text" name="uname" size="20" maxlength="25" tabindex="1"/></td>
  </tr>
<!--[/if]-->
  <tr>
    <td><label for="users_pass">Password</label></td>
    <td><input id="users_pass" type="password" name="pass" size="20" maxlength="20" tabindex="2"/></td>
  </tr>
  <!--[if $seclevel != "High"]-->
  <tr>
    <td><label for="users_rememberme">Remember me</label></td>
    <td><input id="users_rememberme" type="checkbox" name="rememberme" tabindex="3"/></td>
  </tr>
  <!--[/if]-->
</table>
<!--[if $confirmtou eq 1]-->
<div class="pn-errormsg">
  <p>Confirm Terms of Use</p>
  <input id="users_touaccepted" type="checkbox" name="touaccepted" value="1" /><label for="users_confirm">&nbsp;Confirm Terms of Use</label>
</div>
<!--[/if]-->

<input tabindex="4" type="submit" value="Login" />
</div>
</form>

<p>
    <a href="<!--[pnmodurl modname="Users" type="user" func="lostpassword"]-->">Retrieve Password</a>
</p>
