 <br />
 <div class="post">

	<div class="post_title"><h2><!--[$preformat.title]--></h2></div>
	<div class="post_meta">
		<!--[pnml name="_POSTEDBY"]-->&nbsp; <a href="#"><!--[$info.informant]--></a> <!--[pnml name="_POSTEDON"]-->&nbsp;<!--[$info.briefdatetime]-->
		&nbsp;&bull;&nbsp;<!--[pnml name="_NEWS_FILEDUNDER"]--><!--[foreach from=$preformat.categories item="categorylink"]--> | <!--[$categorylink]--><!--[/foreach]-->
		&nbsp;&bull;&nbsp;
		<span style='margin: 0 3px'><!--[$info.counter]--> reads</span>
		<span><a href="<!--[$links.print]-->" title="print story"><!--[pnimg modname="core" set="icons/extrasmall" src="printer1.gif" alt="print story"]--></a>&nbsp;
		<!--[wbtellafriend url=$links.fullarticle title=$info.title]--></span>
		<!--[articleadminlinks sid=$info.sid]-->
	</div>
	<div class="post_body">
		<!--[$info.fulltext]-->
	</div>
	<br />
<!--[pnmodurl modname=News func=display sid=$info.sid assign=returnurl]-->
<!--[pnmodcallhooks hookobject=item hookaction=display hookid=$info.sid module=News returnurl=$returnurl implode=false]--><!--[$hooks.crpTag]--> <br /><!--[$hooks.EZComments]-->
</div>





