<!--[*  $Id: dizkus_centerblock_display2.html 1050 2009-04-13 11:24:49Z herr.vorragend $  *]-->

<!--[ pnpageaddvar name="stylesheet" value="modules/Dizkus/pnstyle/style.css" ]-->

<!--[ readlastposts forum_id=$forum_id maxposts=$maxposts ]-->
<!--[ if $lastpostcount > 0 ]-->
<table width="100%" border="0" cellpadding="3" cellspacing="1">
    <tr>
        <td colspan="3">
            <strong><!--[ $lastpostcount ]-->&nbsp;<!--[ pnml name='_DZK_CB_RECENTPOSTS' ]--></strong>
        </td>
    </tr>
    <!--[ foreach item=lastpost from=$lastposts ]-->
    <tr>
        <td><a href="<!--[ $lastpost.last_post_url_anchor ]-->"><!--[ $lastpost.topic_title ]--></a></td>
        <td><!--[ $lastpost.posted_unixtime|pnfdate_format:'datetimebrief':'':true ]--></td>
        <td><!--[ $lastpost.poster_name|userprofilelink ]--></td>
    </tr>
    <!--[ /foreach ]-->
</table>
<!--[ /if ]-->
